body{font-family:calibri;}
#shopping-cart table{width:100%;background-color:#F0F0F0;}
#shopping-cart table td{background-color:#FFFFFF;}

.txt-heading{    
	padding: 10px 10px;
    border-radius: 2px;
    color: #FFF;
    background: #6aadf1;
	margin-bottom:10px;
}
a.btnRemoveAction{
    background-color: #ff0000;
    color:#ffffff;
    border:0;
    padding:2px 10px;
    font-size:0.9em;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}
/*a.btnRemoveAction:visited{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}*/

#btnEmpty {
	background-color: #ff0000;
    padding: 1px 10px;
    margin: 0px 10px;
    color: #ffffff;
    font-size: 1em;
    float: right;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

#btnBack {
    background-color: #ff0000;
    padding: 1px 10px;
    margin: 0px 10px;
    color: #ffffff;
    font-size: 1em;
    float: left;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

#btnPesan {
    background-color: #00ff00;
    padding: 1px 10px;
    margin: 0px 10px;
    color: #ffffff;
    font-size: 1em;
    float: right;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}
.btnAddAction{
    background-color: #eb9e4f;
    border: 0;
    padding: 3px 10px;
    color: #ffffff;
    margin-left: 2px;
    border-radius: 4px;
    cursor: pointer;
}
#shopping-cart {margin-bottom:30px;}
.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}
#product-grid {margin-bottom:30px;}
.product-item {width: 31%; height: 100px; float:left; background: #ffffff;margin: 6px;  border:#CCC 1px solid;border-radius:4px;}
.product-item div{text-align:center;}
.product-price {    
	color: #005dbb;
    font-weight: 600;
}
/*.product-image {height:100px;background-color:#FFF;}*/
.clear-float{clear:both;}
.demo-input-box{border-radius:2px;border:#CCC 1px solid;padding:2px 1px;}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #FFF;
    background: #6aadf1;
}

ul.back {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #FFF;
}

li.allmenu{
    width: 100%;
    background: #6aadf1;
    /*float: center;*/
}

li.menu{
    width: 16.5%;
    background: #6aadf1;
    /*float: center;*/
}

li.back{
    width: 10%;
    color: #
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    height: auto;
    background-color: #111;
}
